* {
    margin: 0;
}

body {
    background-color:#fff;
}


p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
}

.message {
    position: relative;
    top: -90px;
    width: 470px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #000000bd;
}

.in-info {
    position: relative;
    top: 0px;
}

.in-register {
    position: relative;
    top: -5px;
}

header {
    background-color: #000000;
    width: 100%;
    height: 70px;

}

header h1 a {
    float: left;
    margin-left: 5%;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    color: #fff;
    font-size: 1.6em;
}

header nav {
    float:right;
    margin-top: 15px;
    margin-right: 5%;
    border-radius: 5px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    background-color: #000000;
    position: relative;
    float: left;
    margin: 0.5px;
    padding: 0;
    border-radius: 5px;
}

header nav ul a {
    display: block;
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.3em;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

header nav ul li a:hover {
    color:#248232;
}

header nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0; 
}

header nav ul ul li {
    float:none;
    width: 150px;
}

header nav ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}

header nav ul li:hover > ul {
    display:block;
}

header > a {
    float: right;
    margin: auto 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-decoration: none;
    color:#040f0f;
    padding: 15px;
}

header > a:hover {
    color: rgb(255, 255, 255);
}

.login {
    width: 500px;
    height: 290px;
    margin: 100px auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
}   

.login h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    position: relative;
    top: 40px;
    color: rgb(0, 0, 0);
    
}

.login form {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 50px;
}



.login form .wrapper .input-icon {
    position: relative;
    font-size: 1em;
    left: 10px;
    top: 1.68rem;
    color: #000000;
}


.login form input {
    float: left;
    width: calc(100% - 2.1em);
    padding: 0.4rem 0.35rem 0.35rem 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125em;
    border: 1px solid #0c0808;
    border-radius: 0.2rem;
}

.login form > input {
    width: 40%;
    float:right;
    cursor: pointer;
    border: none;
    padding: 0.7rem;
    margin-top: 15px;
    color: #fff;
    background-color: #248232;
}

.register {
    width: 600px;
    height: 380px;
    margin: 100px auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.register h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    position: relative;
    top: 40px;
    color: #000000;
}

.register form {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.register form input, .register form select {
    float: left;
    width: calc(100% - 6px);
    padding: 0.35rem;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125em;
    border: 1px solid #000000;
    border-radius: 0.2rem;
}

.register form select {
    width: calc(100% + 6px);
}

.register form textarea {
    width: 100%;
    resize: none;
    margin-top: 15px;
    font-size: 1.25em;
}

.register form input[type=submit] {
    width: 40%;
    float:right;
    cursor: pointer;
    border: none;
    padding: 0.7rem;
    color:white;
}

.register form .other {
    background-color:#248232;
    
}

.register form .delete {
    background-color: #000000bd;
    margin-right: 10px;
    color: white;
}

.info {
    padding: 10px;
    width: 1000px;
    height: 100%;
    margin: 100px auto 0px auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.info h1 {
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #000000;
}

.info a {
    display: inline-block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #fff;
    padding: 5px;
    margin: 5px;
    background-color: #248232;
    border-radius: 0.2em;
    margin: 0.5rem;
}

.info table {
    width: 100%;
    border-collapse: collapse;
}

.info table, .info th, .info td {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
    color: black;
}

#textSearch {
    position: relative;
    left: calc(100% - 230px);
    top: -36px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125em;
    border-radius: 5px;
}

@media (max-width: 1025px) {
    .info {
        width: 100%;
    }
    #textSearch {
        position: unset;
        display: block;
        margin : 0 auto 15px auto;
    }
}

@media (max-width: 600px) {
    header nav {
        margin-right: 0;
    }
    header h1 a {
        margin-left: 0;
    }
}